@using MertKalKisisel.Models
@model List<İlgiAlanlari>
@{
    ViewBag.Title = "İlgiAlani";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>İlgiAlani</h2>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>İlgi Alanlarım</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","AdminAna")">Home</a></li>
                        <li class="breadcrumb-item active">@Url.Action("Index", "Mesajlar")</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">İlgi Alanlarım</h3><br />
                        <button id="yeni"class="btn btn-info">Yeni İlgi Alanı Ekle</button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>İlgi Alanlarım</th>
                                    <th>SİL</th>
                                    <th>Düzenle</th>
                                </tr>
                            </thead>

                            <tbody id="kayitlar">
                              
                                @foreach (var item in Model)
                                {
                                    <tr id="ol-@item.ilgiAlaniID">
                                        <td>@item.ilgiAlaniID</td>
                                        <td><div id="ad-@item.ilgiAlaniID">@item.ilgiAlanlarim</div></td>
                                        <td><button id="@item.ilgiAlaniID" class="btn btn-danger Sil ">Sil</button></td>
                                        <td><button id="@item.ilgiAlaniID" class="btn btn-success Guncelle ">Güncelle</button></td>
                                    </tr>
                                }
                            </tbody>



                        </table>

                    </div>

                </div>

            </div>

        </div>
    </section>    
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/js/ilgi.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
